body {
	background-color: grey;
}

#top-window, #bottom-window {
	background-color: white;
	width: 90%;
	height: 100px;
	overflow: scroll;
}

.sender-prompt {
	color: red;
}

.recipient-prompt {
	color: blue;
}
